:root {
    /* Geral */
    --custom-header-border-radius: 24px;
    --ion-toolbar-background: #4CAF50;
    
    /* Header Largo */
    --custom-header-large-height: 130px;
    --custom-header-large-font-size: 3rem;
    
    /* Header Pequeno */
    --custom-header-small-height: 80px;
    --custom-header-small-font-size: 1.9rem;

    /* Header-Icon-Container */
    --custom-header-icon-container-width: 50px;
    --custom-header-icon-container-font-size: 2.5rem;
}

#header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#header, #toolbar {
    position: relative;
    color: white;
    display: flex;
    overflow: hidden;
    max-width: var(--custom-app-width);
    border-bottom-left-radius: var(--custom-header-border-radius);
    border-bottom-right-radius: var(--custom-header-border-radius);
}

#header-icon-container {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    color: white;
    background-color: transparent;
    width: var(--custom-header-icon-container-width);
    font-size: var(--custom-header-icon-container-font-size);
}

#header-icon-container:active {
    background-color: rgba(0, 0, 0, 0.336);
}

#header-icon {
    transform: translateY(3px);
    filter: drop-shadow(-2px 2px 3px rgb(114, 114, 114))
}

#header-title {
    text-align: center;
    user-select: none;
    pointer-events: none;
    text-shadow: -2px 2px 3px rgb(95, 95, 95);
    font-size: var(--custom-header-large-font-size);
}

.large-header {
    height: var(--custom-header-large-height);
}

.small-header {
    height: var(--custom-header-small-height);
}

.small-header #header-title {
    font-size: var(--custom-header-small-font-size);
}