:root {
    /* Geral */
    --custom-header-border-radius: 24px;
    --ion-toolbar-background: #4CAF50;
    
    /* Header Largo */
    --custom-header-large-height: 150px;
    --custom-header-large-font-size: 3rem;
    
    /* Header Pequeno */
    --custom-header-small-height: 80px;
    --custom-header-small-font-size: 1.9rem;
}

#header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#header, #toolbar {
    position: relative;
    color: white;
    display: flex;
    overflow: hidden;
    max-width: var(--custom-app-width);
    border-bottom-left-radius: var(--custom-header-border-radius);
    border-bottom-right-radius: var(--custom-header-border-radius);
}

#header-icon-container {
    position: absolute;
    height: 100%;
}

#icon {
    font-size: 2.4rem;
}

#header-icon {
    height: 100%;
    transform: translateX(-7px);
}

#header-icon:hover {
    background-color: rgba(0, 0, 0, 0.336);
}

#header-title {
    text-align: center;
    user-select: none;
    pointer-events: none;
    font-size: var(--custom-header-large-font-size);
}

.large-header {
    height: var(--custom-header-large-height);
}

.small-header {
    height: var(--custom-header-small-height);
}

.small-header #header-title {
    font-size: var(--custom-header-small-font-size);
}