:root {
    /* Ficha-Button */
    --ficha-button-width: 9.5rem;
    --ficha-button-padding: 1rem 0;
    --ficha-button-font-weight: 500;
    --ficha-button-font-size: 1.2rem;
    --ficha-button-border-radius: 10px;

    /* Aceitar */
    --ficha-button-aceitar-color: rgb(47, 182, 47);

    /* Aceitar-Actived */
    --ficha-button-aceitar-actived-color: rgb(109, 199, 109);
    
    /* Recusar */
    --ficha-button-recusar-color: rgb(250, 61, 61);

    /* Recusar-Actived */
    --ficha-button-recusar-actived-color: rgb(250, 114, 114);
}

.ficha-button {
    width: var(--ficha-button-width);
    padding: var(--ficha-button-padding);
    font-size: var(--ficha-button-font-size);
    border-radius: var(--ficha-button-border-radius);
}

.ficha-button > p {
    margin: 0;
    color: white;
    font-weight: var(--ficha-button-font-weight);
    text-shadow: -2px 2px 2px rgb(82, 82, 82);
}

.aceitar { background-color: var(--ficha-button-aceitar-color) }
.aceitar:active { background-color: var(--ficha-button-aceitar-actived-color) }

.recusar { background-color: var(--ficha-button-recusar-color) }
.recusar:active { background-color: var(--ficha-button-recusar-actived-color) }