:root {
    /* Paciente-Dados */
    --detalhes-paciente-dados-width: 90%;
    --detalhes-paciente-dados-margin-top: 13px;
    --detalhes-paciente-dados-border-radius: 20px;
    --detalhes-paciente-dados-margin-bottom: 21px;
    --detalhes-paciente-dados-background-color: #E3FFCB;
    --detalhes-paciente-dados-padding-left-and-right: 14px;
    --detalhes-paciente-dados-box-shadow: -2px 2px 3px rgb(107, 107, 107);
    --detalhes-paciente-dados-padding: 10px var(--detalhes-paciente-dados-padding-left-and-right);

    /* Containers */
    --detalhes-container-h2-margin-bottom: 6px;

    /* Informações-Consulta */
    --detalhes-informacoes-consulta-h2-margin-bottom: 17px;
    --detalhes-informacoes-consulta-h2-font-size: 1.57rem;

    /* Informações-Consulta-Divided-Middle */
    --detalhes-informacoes-consulta-divided-middle-left-size: 0.65;
    --detalhes-informacoes-consulta-divided-middle-right-size: 0.35;

    /* Informações-Consulta-Status-Container */
    --detalhes-informacoes-consulta-status-container-gap: 10px;
    --detalhes-informacoes-consulta-status-container-margin-top: 20px;
    --detalhes-informacoes-consulta-status-container-font-size: 1.2rem;

    /* Informações-Consulta-Status-Container-Right */
    --detalhes-informacoes-consulta-status-right-padding: 3px 15px;

    /* Informações-Consulta-Status-Accepted */
    --detalhes-informacoes-consulta-status-accepted-background-color: rgb(44, 136, 41);

    /* Informações-Consulta-Status-Denied */
    --detalhes-informacoes-consulta-status-denied-background-color: rgb(192, 42, 42);

    
}

#detalhes-paciente-dados {
    margin: 0 auto;
    width: var(--detalhes-paciente-dados-width);
    padding: var(--detalhes-paciente-dados-padding);
    margin-top: var(--detalhes-paciente-dados-margin-top);
    box-shadow: var(--detalhes-paciente-dados-box-shadow);
    margin-bottom: var(--detalhes-paciente-dados-margin-bottom);
    border-radius: var(--detalhes-paciente-dados-border-radius);
    background-color: var(--detalhes-paciente-dados-background-color);
}

.detalhes-container h2 {
    text-align: center;
    margin-bottom: var(--detalhes-container-h2-margin-bottom);
}

.detalhes-container :where(h2, p) {
    margin: 0;
    padding: 0;
}

#detalhes-informacoes-consulta {
    padding: 0 calc((100% - var(--detalhes-paciente-dados-width)) / 6 + 14px);
}

#detalhes-informacoes-consulta > h2 {
    font-size: var(--detalhes-informacoes-consulta-h2-font-size);
    margin-bottom: var(--detalhes-informacoes-consulta-h2-margin-bottom);
}

.detalhes-informacoes-consulta-divided-middle {
    display: flex;
}

.detalhes-informacoes-consulta-divided-middle :nth-child(1) {
    flex: var(--detalhes-informacoes-consulta-divided-middle-left-size);
}

.detalhes-informacoes-consulta-divided-middle :nth-child(2) {
    flex: var(--detalhes-informacoes-consulta-divided-middle-right-size);
}

#detalhes-informacoes-consulta-status-container {
    display: flex;
    align-items: center;
    gap: var(--detalhes-informacoes-consulta-status-container-gap);
    font-size: var(--detalhes-informacoes-consulta-status-container-font-size);
    margin-top: var(--detalhes-informacoes-consulta-status-container-margin-top);
}

#detalhes-informacoes-consulta-status-right {
    color: white;
    padding: var(--detalhes-informacoes-consulta-status-right-padding);
}

.detalhes-informacoes-consulta-status-accepted {
    background-color: var(--detalhes-informacoes-consulta-status-accepted-background-color);
}

.detalhes-informacoes-consulta-status-denied {
    background-color: var(--detalhes-informacoes-consulta-status-denied-background-color);
}

#detalhes-informacoes-consulta-observacoes {
    font-size: var(--detalhes-informacoes-consulta-status-container-font-size);
}