#relatorios-page {
    --ion-background-color: #DCDCDC;
}

#consultas-list {
    height: fit-content;
    min-height: 80vh;
    padding: 7px 0;
    background-color: white;
    box-shadow: inset -2px 2px 3px rgb(136, 136, 136);
}